@import "compass/css3";

*,
*:before,
*:after {
  box-sizing: border-box;
}

a:hover {
  color: rgb(120, 120, 120);
}

button {
  text-decoration: none;
  color: rgb(60, 60, 60);
  transition: 0.5s ease;
}

button:hover {
  color: rgb(120, 120, 120);
}

.form {
  background: rgba(19, 35, 47, .9);
  padding: 30px;
  max-width: 600px;
  margin: 30px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}

.form-group__user {
  display: block;
  position: relative;
  width: 100%;
  color: #fff;
  border: 1px solid #a0b3b0;
  padding: 5px;
  margin: 0px;
}

.tab-group {
  color: rgb(60, 60, 60);
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, .25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.tab-group li a:hover {
  background: rgb(120, 120, 120);
  color: #fff;
}

.tab-group .active a {
  background: rgb(60, 60, 60);
  color: #fff;
}

.tab-group li button {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, .25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
  border: none;
}

.tab-group li button:hover {
  background: rgb(120, 120, 120);
  color: #fff;
}

.tab-group .active button {
  background: rgb(60, 60, 60);
  color: #fff;
}

.tab-content>div:last-child {
  display: none;
}

h2 {
  text-align: center;
  color: #EEE;
  font-weight: 300;
  margin: 20px 0 20px;
}

h4 {
  text-align: center;
  color: #DDD;
  font-weight: 300;
  margin: 10px 0 10px;
}

h5 {
  text-align: left;
  color: #AAA;
  font-weight: 300;
  margin: 20px 0 5px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, .5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}


label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

label.highlight {
  color: #fff;
}

input, textarea{
  font-size: 20px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  color: #fafafa;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

textarea{
  min-height: 80px;
}
input{
  border: 1px solid #a0b3b0;
}

input:focus,
textarea:focus {
  outline: 0;
  border-color: rgb(60, 60, 60);
}

.field-wrap {
  position: relative;
  margin-bottom: 25px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row>div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row>div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: rgb(60, 60, 60);
  color: #fff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button:hover,
.button:focus {
  background: rgb(100, 100, 100);
}

.button-block {
  display: block;
  width: 100%;
  margin: 5px 0 5px;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}


@media(width < 420px) {

  .tab-group li a {
    padding: 10px;
    font-size: 15px;
    transition: 0.5s ease;
  }

  .tab-group li button {
    padding: 10px;
    font-size: 18px;
    float: left;
    transition: 0.5s ease;
    border: none;
  }

  h2 {
    text-align: center;
    color: #EEE;
    font-weight: 200;
    margin: 10px 0 20px;
  }

  h4 {
    text-align: center;
    color: #DDD;
    font-weight: 200;
    margin: 5px 0 5px;
  }

  h5 {
    text-align: left;
    color: #AAA;
    font-weight: 200;
    margin: 10px 0 5px;
  }

  .form {
    padding: 20px;
    width: 100%;
    margin: 30px auto;
  }


  input,
  textarea {
    font-size: 18px;
    padding: 3px 5px;
  }
}

@media (width < 360px) {
  .tab-group li a {
    padding: 10px;
    font-size: 13px;
    transition: 0.5s ease;
  }
}