body {
  margin: 0px;
  background-color: rgba(220, 220, 220, 1);
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

p {
  display: inline-block;
  margin: 20px;
  font-size: 25px;
  text-indent: 50px;
  text-align: justify;
  width: 70%;
}

/* p.introduct {
  margin-left: 200px;
  margin-right: 200px;
} */

p.errUsername {
  margin: 10px 15px 10px 15px;
  font-size: 20px;
  text-indent: 30px;
  text-align: justify;
}

a.account_button {
  width: 200px;
}


.logo {
  background-color: rgba(11, 17, 29, 1);
  width: 100%;
  min-height: 150px;
  margin: 0px;
  display: inline-block;
  text-align: center;
}

a.logo_a {
  margin: 0px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  color: #D0D0D0;
  font-size: 25px;
  text-decoration-line: none;
}

h1.logo_a {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 55px;
}


.shell {
  background-color: rgba(180, 180, 180, 0.85);
  width: 80%;
  min-height: 1000px;
  height: auto;
  display: inline-block;
  /* text-align: left; */
  display: inline-block;
  vertical-align: middle;
}


@media(width < 550px) {
  p {
    margin: 20px;
    font-size: 15px;
    text-indent: 50px;
    text-align: justify;
  }

  /* p.introduct {
    margin-left: 20px;
    margin-right: 20px;
  } */

  .shell {
    width: 100%;
    min-height: 800px;
  }
}

.center {
  /* margin: 30px 10px 30px 10px; */
}

.shell_book {
  text-align: justify;
  padding: 5px;
}

a.link {
  margin: 0px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 50px;
  color: #000000;
  font-size: 25px;
  text-decoration-line: none;
}

.section {
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 15px 15px 0px 0px;
  display: inline-block;
  border: 2px solid #101010;
  background-color: #cdcdcd;
  text-align: center;
  position: relative;

}

.shell_book p {
  vertical-align: sub;
}

.option-categ {
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  margin: 2px;
}

.section__title {
  margin-top: 5px;
  margin-bottom: 3px;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-family: 'Gill Sans', 'Gill Sans MT', 'Times New Roman';
}

.section__image {
  margin: 0px;
}

.form-group {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 225px;
  text-align: center;
  align-items: center;
}

.form-group__input {
  padding: 7px 0px 7px 0px;
  width: 221px;
}

.form-group__select {
  margin-left: 10px;
  width: 215px;
}

.form-button {
  color: white;
  padding: 7px 0px 7px 0px;
  background-color: rgb(80, 80, 80);
  width: 125px;
  max-height: 32px;
  font-size: 16px;
  align-items: flex-start;
  display: inline-block;
  margin: 3px 0px 3px 0px;
  text-decoration: none;
  border: 0px;
}

.page_book a {
  padding: 7px;
  text-decoration: none;
  color: white;
  width: 215px;
}

.page_book {
  align-items: center;
  text-align: center;
  background-color: rgb(80, 80, 80);
  width: 100px;
  height: auto;
  margin: 10px;
  display: inline;
}



.form-button:hover {
  cursor: pointer;
}


ul {
  list-style: none;
  /* display: block;
  list-style-type: disc;  */
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.topmenu {
  background-color: rgba(240, 240, 240, 0.85);
  text-align: center;
}

.nevedimka {
  color: rgba(240, 240, 240, 0);

}

.form_auth {
  /* align-items: center; */
  align-self: start;
}

div.center {
  /* text-align: center; */
  display: inline-block;
  width: 225px;
  margin: 30px 10px 30px 10px;
}

/* form.center{
  text-align: center;
  display: inline-block;
} */


.topmenu a {
  text-decoration: none;
  display: block;
  transition: .4s ease-in-out;

}

.topmenuA {
  color: #767676;
}

.topmenu>li>a {
  padding: 20px;
  /* color: #767676; */
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Exo 2', sans-serif;
}


.submenu li a {
  border-bottom: 1px solid #efefef;
  color: #484848;
}

@media(width < 600px) {

  .topmenu>li>a {
    padding: 0px 0px;
  }

  .submenu li a {
    padding: 0px 0px;
    margin: 0 0px;
  }

  .nevedimka {
    color: rgba(240, 240, 240, 0)
  }
}


@media(min-width: 600px) {
  .topmenu {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nevedimka {
    color: rgba(240, 240, 240, 0)
  }

  .topmenu>li {
    position: relative;
  }

  .submenu {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 210px;
    margin-left: -105px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
  }

  .topmenu>li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  .submenu li a {
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
}